body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff; /* Cambia el color de fondo a un tono celeste claro */
  color: #333; /* Cambia el color del texto a un gris oscuro para mejorar la legibilidad */
  line-height: 1.6; /* Mejora la legibilidad del texto con un mayor espaciado */
}

/* width */
::-webkit-scrollbar {
  width: 8px; /* Aumenta el ancho de la barra de desplazamiento */
  height: 8px; /* Aumenta la altura de la barra de desplazamiento horizontal */
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0; /* Cambia el fondo de la pista de la barra de desplazamiento a un gris claro */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3498db; /* Cambia el color del "thumb" (mango) a un azul más vibrante */
  border-radius: 10px;
  border: 2px solid #ffffff; /* Añade un borde blanco para crear un contraste */
}

code {
  font-family: 'Courier New', monospace; /* Cambia la fuente a 'Courier New' */
  background-color: #f5f5f5; /* Añade un fondo gris claro detrás del código */
  padding: 2px 4px; /* Añade un poco de padding para que el código destaque más */
  border-radius: 4px; /* Añade bordes redondeados al fondo del código */
  color: #d63384; /* Cambia el color del texto del código a un rosa vibrante */
}
